<div class="row">
    <!-- Ürün Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-primary card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-box"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Ürün Sayısı</p>
                            <h4 class="card-title">@ViewBag.productCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Şef Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-success card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-user-tie"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Şef Sayısı</p>
                            <h4 class="card-title">@ViewBag.chefCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rezervasyon Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-info card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-book"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Rezervasyon Sayısı</p>
                            <h4 class="card-title">@ViewBag.bookingCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sipariş Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-warning card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Sipariş Sayısı</p>
                            <h4 class="card-title">@ViewBag.orderCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Slider Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-primary card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-image"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Slider Sayısı</p>
                            <h4 class="card-title">@ViewBag.sliderCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Yemek Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-info card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-utensils"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Yemek Sayısı</p>
                            <h4 class="card-title">@ViewBag.foodCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Referans Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-success card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-quote-left"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Referans Sayısı</p>
                            <h4 class="card-title">@ViewBag.testimonialCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Kullanıcı Mesajları -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-warning card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Kullanıcı Mesajları</p>
                            <h4 class="card-title">@ViewBag.userMessageCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Abone Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-info card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-user-plus"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Abone Sayısı</p>
                            <h4 class="card-title">@ViewBag.subscriberCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Aktif Ürün Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-success card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Aktif Ürün Sayısı</p>
                            <h4 class="card-title">@ViewBag.activeProductCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ortalama Ürün Fiyatı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-warning card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Ortalama Ürün Fiyatı</p>
                            <h4 class="card-title">$@ViewBag.avgProductPrice</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ziyaretçi Sayısı -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-info card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Ziyaretçi Sayısı</p>
                            <h4 class="card-title">@ViewBag.visitors</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Online Kullanıcılar -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-primary card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-signal"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Online Kullanıcılar</p>
                            <h4 class="card-title">@ViewBag.usersOnline</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Yeni Siparişler -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-warning card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-shopping-basket"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Yeni Siparişler</p>
                            <h4 class="card-title">@ViewBag.newOrders</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Günlük Kazançlar -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-info card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-wallet"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Günlük Kazançlar</p>
                            <h4 class="card-title">$@ViewBag.dailyEarnings</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Yeni Aboneler -->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-success card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="fas fa-user-plus"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Yeni Aboneler</p>
                            <h4 class="card-title">@ViewBag.newSubscribers</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
